@model MvcUniversity.Models.Teacher;

<form method="post">
    <div class="border p-3">
        <div class="row page-header">
            <h1 class="text-info"> <i class="fa-solid fa-pen"></i>  Edit Section</h1>
        </div>
        <div class="form-fields">
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Fullname"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Fullname" class="form-control" />
                </div>
            </div>
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Address" class="form-control" />
                </div>
            </div>
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Phone"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Phone" class="form-control" />
                </div>
            </div>
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Birthday"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Birthday" class="form-control" />
                </div>
            </div>
            <div class="row form-group fgr-field">
                <div class="col-4">
                    <label asp-for="Gender"></label>
                </div>
                <div class="col-8">
                    <select class="form-select form-control">
                        <option selected>Please select...</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
</form>